
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0a0c0c !important;
    font-family: sans-serif !important;
    
}
.top-nav-bar{
    height: 57px;
    top: 0;
    position: sticky;
    background: rgb(15, 12, 12);
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(156, 103, 5);
    z-index: 2;
}
.logo{
    height: 40px;
    margin: 5px 10px;
}
.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid rgb(36, 24, 2) !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
.input-group-text{
    
    background: rgb(141, 93, 3) !important;
    border: 1px solid rgb(156, 103, 5);
    margin: 8.5px 10px 3px 0;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search-box{
    display: inline-flex;
    width: 60%;
}
.fa-search{
    color: rgb(22, 7, 7);
}
.menu-bar{
    width: 40%;
    height: 57px;
    float: right;
}
.menu-bar ul{
    display: inline-flex;
    float: right;
}
.menu-bar ul li{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: rgb(36, 24, 2);
    cursor: pointer;
}
.menu-bar ul li a{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.fa-shopping-basket{
    margin-right: 5px;
}
@media only screen and (max-width: 980px){
    .top-nav-bar{
        height: 118px;
        border-bottom: 0;
    }
    .search-box
    {
        width: 100%;
    }
    .menu-bar{
        width: 100%;
    }
    .menu-bar ul{
        margin: 10px 0;
        width: 100%;
    }
    .menu-bar ul li{
        height: 57px;
        width: 100%;
    }
}
/*---------------Side Menu------------------*/
.header{
   
}
.side-menu{
    height: 79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: rgba(233, 219, 142, 0.733);
    border-radius: 2px;
}
.side-menu ul{
    margin-left: 10px;
}
.side-menu ul li{
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    color: rgb(32, 32, 4) ;
}
.side-menu ul li:hover{
    color: orange ;
}
.side-menu ul li ul{
    z-index: 10;
    top: 77px;
    display: none;
}
.side-menu ul li:hover ul{
    display: block;
    height: 400px;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background:  rgba(233, 219, 142, 0.733);
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 1);
    border-radius: 2px;
}
.fa-angle-right{
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}
#menu-btn, #close-btn{
    font-size: 30px;
    color: orange;
    margin: 10px;
    display: none;
}
@media only screen and (max-width: 980px){
    .side-menu{
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
        background: #f1f3f4;
        display: none;
    }
    .side-menu ul li ul{
        top: 133px;
    }
    .side-menu ul li:hover ul{
        margin-left: 31%;
    }
    #menu-btn{
        display: block;
    }
}
/*----------CUS SLIDER-----------*/
.slider{
    width: 85%;
    margin-left: 15%;
    padding: 0 10px;
    
}
.carousel{
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.carousel img{
    width: 1000px;
    height: 510px;
}
.carousel-indicators{
    z-index: 1 !important;
    
} 
/* .carousel-control-prev{
    z-index: 100 !important;
}
.carousel-control-next{
    z-index: 100 !important;
} */

@media only screen and (max-width: 980px){
    .slider{
        width: 100%;
        margin-left: 0;
    }
}
/* fearured categories */
.featured-categories{
    margin: 50px 0;
    background-color: #000;
}
.featured-categories img{
    width: 100%;
    
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
    
}
.featured-categories img:hover{
    transform: scale(1.1);
}
/* on sale product */
.tittle-box{
    background: orange;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    border-radius: 10px;
}
.tittle-box h2{
    font-size: 24px;
}
.tittle-box::after{
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}
/* prodcut top */
.product-top img{
    width: 100%;
    height: 300px;
    transition: .3s;
    
    
}
.product-top img:hover{
   transform: scale(0.9);
   opacity: 0.7;
    
}

.overlay-right{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.overlay-right .fa{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.overlay-right .btn-secondary{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.product-top:hover .overlay-right{
opacity: 1;
margin-left: 5%;
transition: 0.5s;
}
/* product bottom */
.product-bottom .fa{
    color: orange;
    font-size: 10px;
}
.product-bottom h3{
    font-size: 20px;
    font-weight: bold;
    color: rgba(252, 249, 249,0.8);
}
.product-bottom h5{
    font-size: 15px;
    padding-bottom: 10px;
    color: rgba(252, 249, 249,0.8);
}
.new-product{
    margin: 50px 0;
}
/* website feature */
.website-features{
    margin: 60px 0;
}
.website-features img{
    width: 20%;
}
.website-features p{
    color: rgba(252, 249, 249,0.8);
}
.feature-text{
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}
.feature-box{
    padding-top: 20px;
}
/* Footer */
.footer{
    margin-top: 50px;
    background: #000;
    color: #fff;
}
.footer h1{
    font-size: 20px;
    margin: 20px 0;
}
.footer p{
    font-size: 15px;
}
.copyright{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}
.footer img{
    width: 60%;
}
.footer hr{
    margin-top: 10px;
    background-color: #ccc;
}
.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}




/* single product */
.single-product{
    margin-top: 70px;
}
.new-arrival{
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
.col-md-7 h2{
    color: rgb(245, 219, 179);
}
.single-product .fa{
    color: orange;
}
.single-product .price{
    color: orange;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;

}
.single-product input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
.single-product label{
    color: rgba(252, 249, 249,0.8);
}
.single-product p{
    color: rgba(252, 249, 249,0.8);
}
.single-product .btn-primary{
    background: rgb(201, 134, 9) !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}
/* product description */
.product-description h6{
    margin-top: 50px;
    color: orange;
}
.product-description p{
    margin-top: 30px;
    color: rgba(252, 249, 249,0.8);
}
.product-description hr{
    margin-bottom: 50px;
}